{{> _jumbotron}}

<br>
<h3>Capture Order</h3>
<br>
<div class = "row">
  <div class = "col-md-6">
  <form method = "post" action = "/payments/captureOrder">
  <div class = "form-group">
    <label for="orderID">Order ID</label>
    <input type = "text" class = "form-control rounded-0" name = "orderID" value = "{{orderID}}">
  </div>
  <div class = "form-group">
    <label for="json">Capture Order</label>
    <textarea class = "form-control rounded-0" name = "json" rows = "30" cols="200">{
  "amount": {
    "currency": "USD",
    "total": "1.00"
  },
  "is_final_capture": true
}</textarea>
  </div>
  <button type = "submit" class = "btn btn-primary">Submit</button>
  </form>
</div>
<div class = "col-md-6">
  <label for="response">Response</label>
<textarea class = "form-control rounded-0" name = "response" rows = "30" cols="200">{{captureInfo}}{{captureErrorResponse}}</textarea>
</div>
</div>

<br><br>

<h3>Authorize Order</h3>
<br>
<div class = "row">
  <div class = "col-md-6">
  <form method = "post" action = "/payments/authOrder">
  <div class = "form-group">
    <label for="orderID">Order ID</label>
    <input type = "text" class = "form-control rounded-0" name = "orderID" value = "{{orderID}}">
  </div>
  <div class = "form-group">
    <label for="json">Authorize Order</label>
    <textarea class = "form-control rounded-0" name = "json" rows = "30" cols="200">{
  "amount": {
    "currency": "USD",
    "total": "1.00"
  }
}</textarea>
  </div>
  <button type = "submit" class = "btn btn-primary">Submit</button>
  </form>
</div>
<div class = "col-md-6">
  <label for="response">Response</label>
<textarea class = "form-control rounded-0" name = "response" rows = "30" cols="200">{{authOrderInfo}}{{authOrderErrorResponse}}</textarea>
</div>
</div>

<br><br>

<h3>Show Order Details</h3>
<br>
<div class = "row">
  <div class = "col-md-6">
  <form method = "post" action = "/payments/showOrderDetails">
  <div class = "form-group">
    <label for="orderID">Show Order Details</label>
    <input type = "text" class = "form-control rounded-0" name = "orderID" value = "{{orderID}}" placeholder = "authID">
  </div>
  <button type = "submit" class = "btn btn-primary">Submit</button>
  </form>
</div>
<div class = "col-md-6">
  <label for="response">Response</label>
<textarea class = "form-control rounded-0" name = "response" rows = "30" cols="200">{{orderDetails}}{{orderDetailsErrorResponse}}</textarea>
</div>
</div>

<br><br>

<h3>Void Order</h3>
<br>

<div class = "row">
  <div class = "col-md-6">
  <form method = "post" action = "/payments/voidOrder">
  <div class = "form-group">
    <label for="orderID">Order ID</label>
    <input type = "text" class = "form-control rounded-0" name = "orderID" placeholder = "orderID" value = "{{orderID}}">
  </div>
  
  <button type = "submit" class = "btn btn-primary">Submit</button>
  </form>
</div>
<div class = "col-md-6">
  <label for="response">Response</label>
<textarea class = "form-control rounded-0" name = "response" rows = "30" cols="200">{{voidOrderInfo}}{{voidOrderErrorResponse}}</textarea>
</div>
</div>

<br><br>

<div class = "row">
  <div class = "col-md-4 offset-md-8">
    <a href = "/payments"><h2>Back to Payments API</h2></a>
  </div>
</div>