{{> _jumbotron}}

<h3>V2 SPB Auth-Capture</h3>
<div id="paypal-button-container"></div>


<div id="formDiv" class="mt-5 mb-5"></div>

<h3>Create Order</h3>
<div class="row">
    <div class="col-md-6">
        <form method="post" action="/v2/create">
            <div class="form-group">
                <label for="json">Create Order</label>
                <textarea class="form-control rounded-0" name="json" rows="30" cols="200">
{
  "intent": "CAPTURE",
  "purchase_units": [
    {
      "amount": {
        "currency_code": "USD",
        "value": "100.00"
      }
    }
  ],
  "application_context": {
     "return_url": "https://guarded-brook-41995.herokuapp.com/v2",
     "cancel_url": "https://guarded-brook-41995.herokuapp.com/v2"
  }
}
                </textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-md-6">
        <label for="response">Response</label>
        <textarea class="form-control rounded-0" name="response" rows="30" cols="200">{{paymentInfo}}{{errorResponse}}</textarea>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6 offset-md-6">
        <span id="uriLocation"></span>
    </div>
</div>
<br>

<h3>Capture Order</h3>
<div class="row">
    <div class="col-md-6">
        <form method="post" action="/v2/capture">
            <div class="form-group">
                <label for="order_id">Order ID</label>
                <input type="text" class="form-control rounded-0" id="order_id_field" name="order_id" value="">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-md-6">
        <label for="response">Response</label>
        <textarea class="form-control rounded-0" name="response" rows="30" cols="200">{{captureInfo}}{{captureErrorResponse}}</textarea>
    </div>
</div>
<br><br>

<script>
    let uri = "{{{approveUri}}}";

    const showRedirectUri = () => {
        if (uri != "") {
            document.getElementById("uriLocation").innerHTML = `<a href = "${uri}"><h3>Redirect To PayPal</h3></a>`;
        }
    }



    let url = window.location.href;



    paypal.Button.render({

        env: 'sandbox', // sandbox | production

        // Show the buyer a 'Pay Now' button in the checkout flow
        commit: true,

        // payment() is called when the button is clicked
        payment: function () {

            // Set up a url on your server to create the payment
            var CREATE_URL = '/v2/create_spb';

            // Make a call to your server to set up the payment
            return paypal.request.post(CREATE_URL)
                .then(function (res) {
                    console.log(res);

                    return res.id;
                });
        },

        // onAuthorize() is called when the buyer approves the payment
        onAuthorize: function (data, actions) {

            // Set up a url on your server to execute the payment
            var EXECUTE_URL = '/v2/authorize_spb';

            // Set up the data you need to pass to your server
            var data = {
                orderID: data.orderID
            };
            console.log(data.orderID);
            // Make a call to your server to execute the payment
            return paypal.request.post(EXECUTE_URL, data)
                .then(function (res) {
                    console.log(res);

                    //create form

                    let form = document.createElement("form");
                    form.setAttribute('method', "post");
                    form.setAttribute('action', '/v2/capture_spb');

                    let input = document.createElement("input");
                    input.setAttribute('type', "text");
                    input.setAttribute('name', 'authID');
                    input.setAttribute('value', res);

                    let btn = document.createElement("input");
                    btn.setAttribute('type', 'submit');
                    btn.setAttribute('value', 'Capture');

                    form.appendChild(input);
                    form.appendChild(btn);

                    document.getElementById("formDiv").appendChild(form);


                });
        }

    }, '#paypal-button-container');

    const isTokenPresent = (url) => {

        let queryString = url.split('?')[1];

        let splitString = queryString.split('&');

        const token = splitString[0].split('=')[1];

        document.getElementById('order_id_field').value = token;
    }
    showRedirectUri();
    isTokenPresent(url);
</script>